.Navbar {
    background-color: #000807;
}

.logo{
    color: #A2A3BB !important;
}

.nav-link{
    color: #A2A3BB !important;
}

/* .footer {
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
} */



